<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="css/dashboard.css">
<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4">Proiecte În Așteptare</h2>
                <div class="list-group">
                    {{#each newProjects }}
                    <a href="dashboard/{{ this._id }}" class="list-group-item">
                        Proiect: {{ this.username}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4">Proiecte Acceptate</h2>
                <div class="list-group">
                    {{#each acceptedProjects }}
                    <a href="dashboard/{{ this._id }}" class="list-group-item">
                        Proiect: {{ this.username}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section border-t">
    <div class="container">
        <div class="row justify-content-center mb-5 element-animate">
            <div class="col-md-8 text-center">
                <h2 class="text-uppercase heading border-bottom mb-4">Proiecte Respinse</h2>
                <div class="list-group">
                    {{#each rejectedProjects }}
                    <a href="dashboard/{{ this._id }}" class="list-group-item">
                        Proiect: {{ this.username}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
<script>
    $('.tab-menu a').hover(function (e) {
        e.preventDefault()
        $(this).tab('show')
    })


    $("#project_link").click(function () {
        $("#projects").css("visibility", "visible")
    });
</script>