<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1>Proiect: {{ project.username }}</h1>
        <p class="lead">Tipul proiectului: {{project.projectType}} </p>
        <div class="informatii">
            <table class="table table-hover">
                <thead>

                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Lucrare</th>
                        <th scope="col">Preț Unitate</th>
                        <th scope="col">Număr Unități</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each project.renovationType.lucrare}}
                    <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{.}} has {{lookup ../nrUnitati @index}}</td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

{{#if project.details}}
            <div class="col-md-6 element-animate">
                <div class="media d-block media-testimonial text-center">
                    <p>Detalii suplimentare</p>
                    <div class="media-body">
                        {{project.details}}

                    </div>
                </div>
            </div>
            {{/if}}
        </div>
        <p id="actions">
            <a class="btn btn-success btn-lg" id="accept-btn" role="button">Acceptă</a>
            <a class="btn btn-danger btn-lg" id="refuse-btn" role="button">Refuză</a>
        </p>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var postId = "{{ project._id }}";
    var postContent;


    $('#accept-btn').click(function () {
        // capture the new post content and send to backend
        postContent = $("#editable-post-body").val();
         $('#refuse-btn').prop('disabled', true);
         $('#accept-btn').prop('disabled', true);
        axios.post("/dashboardAdmin/" + postId, { body: "accepted" });
       
        // restoreBody();
    });
    $('#refuse-btn').click(function () {
        // capture the new post content and send to backend
        postContent = $("#editable-post-body").val();
          $('#accept-btn').prop('disabled', true);
          $('#refuse-btn').prop('disabled', true);
        axios.post("/dashboardAdmin/" + postId, { body: "rejected" });
      
    });



</script>